@import 'tailwindcss';

html {
    box-sizing: border-box;
    scroll-behaviour: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #222;
    color: #ffffff;
    margin: 1rem;
}

.outlined-text {
  color: white;               /* text fill color */
  -webkit-text-stroke: 1px black;  /* stroke thickness and color */
  /* for Firefox */
  text-stroke: 1px black; /* not widely supported yet */
}

a.active {
    position: relative;
}
a.active:after {
    content: '';
    position: absolute;
    top: 50%;
    right: -20px;
    width: 7px;
    height: 7px;
    border-radius: 7px;
    background-color: limegreen;
}

p {
    line-height: 2rem;
}

/* Mobile Navigation Button ||| -> X animation* */
.navigation-icon, .navigation-icon:after, .navigation-icon:before {
    content: '';
    background-color: #fff;
    width: 32px;
    height: 4px;
    border-radius: 8px;
    transition: .25s ease all;
    position: absolute;
}

.navigation-icon:after {
    position: absolute;
    top: -8px;
    left: 0;
}

.navigation-icon:before {
    position: absolute;
    top: 8px;
    left: 0;
}

.navigation-icon.active {
    width: 0%;
}

.navigation-icon.active:after {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.navigation-icon.active:before {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, .1);
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, .2);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* Loader */
/* https://cssloaders.github.io/ */
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #FFF;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}


@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

.header-main:before, footer:before {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1607843137), rgba(255, 255, 255, 0));
    bottom: -12px;
    content: "";
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 40%;
}

.header-main:before {
    opacity: 0;
}

footer:before {
    top: 0;
}

/* Safe Bottom: Keep the fixed mobile navigation button from being covered up in safari. */
.safe-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}

@media (min-width: 768px) {
    body {
        margin: 0;
    }

    .header-main:before {
        opacity: 1;
    }

    a.active {
        text-decoration: underline;
        text-underline-offset: 5px;
    }

    a.active:after {
        all: unset;
    }

}